.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 10rem 0;
}
.wrapper__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .wrapper__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .wrapper__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .wrapper__wrapper {
    width: 1550px;
  }
}
.heading__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.heading__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}
@media (min-width: 768px ) {
  .heading__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .heading__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
section {
  border-bottom: 1px dashed red;
}
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background-color: #121214;
}
::-webkit-scrollbar-thumb {
  background-color: #ed4040;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(235, 224, 202, 0.8);
  background: #000 url(https://rm-content.s3-accelerate.amazonaws.com/5285014aa6d855ba50004d11/942208/upload-db9555b0-f6da-11e7-8e5b-7ddd49f1b502.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
p {
  margin: 0.5rem 0;
}
a {
  text-decoration: none;
  color: #ed4040;
}
/* ------------------------------------------ */
/* BUTTON BLOCK
/* ------------------------------------------ */
.button {
  display: inline-block;
  min-width: 5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  color: #ed4040;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(237, 64, 64, 0.1);
  border: 0.1rem solid #ed4040;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.button:hover {
  color: #ffffff;
  background-color: #ed4040;
}
/* ------------------------------------------ */
/* BLOG BLOCK
/* ------------------------------------------ */
.blog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 10rem 0;
}
.blog__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .blog__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .blog__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .blog__wrapper {
    width: 1550px;
  }
}
.blog__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.blog__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}
@media (min-width: 768px ) {
  .blog__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .blog__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
/* ------------------------------------------ */
/* CERTIFICATES BLOCK
/* ------------------------------------------ */
.certificates {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 10rem 0;
}
.certificates__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .certificates__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .certificates__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .certificates__wrapper {
    width: 1550px;
  }
}
.certificates__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.certificates__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}
@media (min-width: 768px ) {
  .certificates__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .certificates__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
.certificates .certificates__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 -0.5rem;
}
.certificates .certificates__item {
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .certificates .certificates__items {
    max-height: 85rem;
  }
  .certificates .certificates__item {
    width: calc(100% / 3);
  }
}
@media (min-width: 1170px ) {
  .certificates .certificates__items {
    max-height: 55rem;
  }
  .certificates .certificates__item {
    width: calc(100% / 5);
  }
}
/* ------------------------------------------ */
/* CONTACT BLOCK
/* ------------------------------------------ */
.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 10rem 0;
}
.contact__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .contact__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .contact__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .contact__wrapper {
    width: 1550px;
  }
}
.contact__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.contact__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}
@media (min-width: 768px ) {
  .contact__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .contact__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
.contact .contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact .contact__content h2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.contact .contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.contact .contact__social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  font-size: 0;
  line-height: 0;
  border: 0.5rem solid rgba(43, 31, 49, 0.5);
  background: #2b1f31;
  background-clip: padding-box;
}
.contact svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #ffffff;
}
@media (min-width: 768px ) {
  .contact .contact__content h2 {
    font-size: 5rem;
  }
}
@media (min-width: 1170px ) {
  .contact .contact__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .contact__content h2 {
    font-size: 8rem;
  }
  .contact .contact__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40%;
  }
}
/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
  position: relative;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}
.footer cite {
  display: block;
  font-style: normal;
}
.footer span {
  display: block;
  position: relative;
}
@media (min-width: 768px ) {
  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
  }
  .footer span::before {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 2.5rem;
    height: 0.05rem;
    background: #ed4040;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
/* ------------------------------------------ */
/* INTRO BLOCK
/* ------------------------------------------ */
.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 10rem 0;
  background: url("../img/intro/background.png") repeat-x center;
  -webkit-animation: slide 60s linear infinite;
          animation: slide 60s linear infinite;
}
.intro__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .intro__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .intro__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .intro__wrapper {
    width: 1550px;
  }
}
.intro__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.intro__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}
@media (min-width: 768px ) {
  .intro__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .intro__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
.intro .intro__content h3 {
  margin: 0 0 0 3rem;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}
.intro .intro__content span {
  color: #ed4040;
}
.intro .intro__content h2 {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  white-space: pre;
}
@media (min-width: 768px ) {
  .intro .intro__content h3 {
    margin: 0 0 0 0.3rem;
    font-size: 1.78rem;
  }
  .intro .intro__content h2 {
    font-size: 5rem;
    white-space: nowrap;
  }
}
@media (min-width: 1170px ) {
  .intro .intro__content h3 {
    margin: 0 0 0 0.4rem;
    font-size: 3.17rem;
  }
  .intro .intro__content h2 {
    font-size: 9rem;
    white-space: nowrap;
  }
}
@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100rem 0;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100rem 0;
  }
}
/* ------------------------------------------ */
/* PORTFOLIO BLOCK
/* ------------------------------------------ */
.portfolio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 10rem 0;
}
.portfolio__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .portfolio__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .portfolio__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .portfolio__wrapper {
    width: 1550px;
  }
}
.portfolio__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.portfolio__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}
@media (min-width: 768px ) {
  .portfolio__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .portfolio__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
.portfolio .portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -0.5rem;
}
.portfolio .portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}
.portfolio .portfolio__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.portfolio .portfolio__link {
  font-size: 0;
  line-height: 0;
}
.portfolio .portfolio__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0.5rem;
}
.portfolio .portfolio__tag::after {
  content: " / ";
  white-space: pre;
}
.portfolio .portfolio__tag:last-child::after {
  content: "";
}
@media (min-width: 768px ) {
  .portfolio .portfolio__item {
    max-width: calc(100% / 3);
  }
}
@media (min-width: 1170px ) {
  .portfolio .portfolio__item {
    max-width: calc(100% / 5);
  }
}
/* ------------------------------------------ */
/* RESUME BLOCK
/* ------------------------------------------ */
.resume {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 10rem 0;
}
.resume__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .resume__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .resume__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .resume__wrapper {
    width: 1550px;
  }
}
.resume__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.resume__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}
@media (min-width: 768px ) {
  .resume__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .resume__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
.resume .resume__content h2 {
  margin: 4rem 0 2rem;
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
}
.resume .resume__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.resume .resume__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 4rem;
  text-align: center;
}
.resume .resume__item img {
  width: auto;
  height: 3rem;
}
.resume .resume__item h3 {
  position: relative;
  display: inline-block;
  margin: 1rem 0 0.5rem;
  padding: 0.3rem 2rem;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 0;
  background: #ed4040;
}
.resume .resume__item h3::before,
.resume .resume__item h3::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -1.5rem;
  display: block;
  border: 10px solid #ed4040;
  border-right-width: 20px;
  border-color: #ed4040 #ed4040 #ed4040 transparent;
}
.resume .resume__item h3::after {
  left: auto;
  right: -1.5rem;
  border-color: #ed4040 transparent #ed4040 #ed4040;
}
.resume .resume__item h4 {
  margin: 0.5rem 0 0;
}
.resume .resume__link {
  font-size: 0;
  line-height: 0;
}
.resume .resume__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resume .resume__description {
  margin: 0.5rem 0 0;
  text-align: left;
}
@media (min-width: 768px ) {
  .resume .resume__content h2 {
    margin: 0 0 3rem;
    font-size: 3.5rem;
  }
  .resume .resume__item {
    width: 50%;
    padding: 0 1rem 1rem;
  }
}
