.wrapper {
  position: relative;
}
.wrapper__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px ) {
  .wrapper__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .wrapper__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .wrapper__wrapper {
    width: 1550px;
  }
}
.heading__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.heading__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px ) {
  .heading__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .heading__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
section {
  min-height: 600px;
  outline: 1px solid red;
}
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background-color: #121214;
}
::-webkit-scrollbar-thumb {
  background-color: #ed4040;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(235, 224, 202, 0.8);
  background: #000;
  background-image: url(https://rm-content.s3-accelerate.amazonaws.com/5285014aa6d855ba50004d11/942208/upload-db9555b0-f6da-11e7-8e5b-7ddd49f1b502.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
p {
  margin: 0.5rem 0;
}
a {
  text-decoration: none;
  color: #ed4040;
}
/* ------------------------------------------ */
/* BUTTON BLOCK
/* ------------------------------------------ */
.button {
  display: inline-block;
  min-width: 5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  color: #ed4040;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(237, 64, 64, 0.1);
  border: 0.1rem solid #ed4040;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.button:hover {
  color: #ffffff;
  background-color: #ed4040;
}
/* ------------------------------------------ */
/* BLOG BLOCK
/* ------------------------------------------ */
.blog {
  position: relative;
}
.blog__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px ) {
  .blog__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .blog__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .blog__wrapper {
    width: 1550px;
  }
}
.blog__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.blog__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px ) {
  .blog__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .blog__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
/* ------------------------------------------ */
/* CERTIFICATES BLOCK
/* ------------------------------------------ */
.certificates {
  position: relative;
}
.certificates__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px ) {
  .certificates__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .certificates__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .certificates__wrapper {
    width: 1550px;
  }
}
.certificates__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.certificates__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px ) {
  .certificates__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .certificates__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
.certificates .certificates__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -0.5rem;
}
.certificates .portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 768px ) {
  .certificates .certificates__item {
    max-width: calc(100% / 3);
  }
}
@media (min-width: 1170px ) {
  .certificates .certificates__item {
    max-width: calc(100% / 6);
  }
}
/* ------------------------------------------ */
/* CONTACT BLOCK
/* ------------------------------------------ */
.contact {
  position: relative;
}
.contact__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px ) {
  .contact__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .contact__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .contact__wrapper {
    width: 1550px;
  }
}
.contact__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.contact__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px ) {
  .contact__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .contact__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
/* ------------------------------------------ */
/* INTRO BLOCK
/* ------------------------------------------ */
.intro {
  position: relative;
}
.intro__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px ) {
  .intro__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .intro__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .intro__wrapper {
    width: 1550px;
  }
}
.intro__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.intro__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px ) {
  .intro__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .intro__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
/* ------------------------------------------ */
/* PORTFOLIO BLOCK
/* ------------------------------------------ */
.portfolio {
  position: relative;
}
.portfolio__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px ) {
  .portfolio__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .portfolio__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .portfolio__wrapper {
    width: 1550px;
  }
}
.portfolio__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.portfolio__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px ) {
  .portfolio__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .portfolio__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
.portfolio .portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -0.5rem;
}
.portfolio .portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}
.portfolio .portfolio__link {
  font-size: 0;
  line-height: 0;
}
.portfolio .portfolio__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.portfolio .portfolio__tag::after {
  content: " / ";
  white-space: pre;
}
.portfolio .portfolio__tag:last-child::after {
  content: "";
}
@media (min-width: 768px ) {
  .portfolio .portfolio__item {
    max-width: calc(100% / 3);
  }
}
@media (min-width: 1170px ) {
  .portfolio .portfolio__item {
    max-width: calc(100% / 5);
  }
}
/* ------------------------------------------ */
/* RESUME BLOCK
/* ------------------------------------------ */
.resume {
  position: relative;
}
.resume__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px ) {
  .resume__wrapper {
    width: 768px;
    margin-right: 0;
  }
}
@media (min-width: 1170px ) {
  .resume__wrapper {
    width: 1170px;
  }
}
@media (min-width: 1550px ) {
  .resume__wrapper {
    width: 1550px;
  }
}
.resume__heading span {
  font-size: 0.8rem;
  color: #ed4040;
}
.resume__heading h1 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px ) {
  .resume__heading {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
  }
  .resume__heading h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
