.advantages {
  width: @mobile-width;
  min-height: 810px;
  margin: @centerer-margin;
  background: @bg-light-grey url("../../img/iphone-screen-mobile@1x.png") no-repeat center bottom;
}

.advantages__list {
  .reset-list();
}

.advantages__item {
  text-align: center;
}

.advantages__title {
  margin: 0 0 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__description {
  margin: 0 0 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
