.contacts {
  width: @mobile-width;
  min-height: 565px;
  margin: @centerer-margin 40px;
  text-align: center;
}

.contacts__title {
  margin: 0 0 45px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__call {
  margin: 0;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  color: @light-font-color;
}

.contacts__facts {
  padding: 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @contacts-color;
}

.contacts__footer {
  position: relative;
  width: @mobile-width;
  min-height: 200px;
  background: url("../../img/bg-map-mobile@1x.png") no-repeat center bottom;
}

.contacts__marker {
  position: absolute;
  top: 95px;
  left: 143px;
  width: 45px;
  height: 45px;
  background: url("../../img/icon-map-marker.svg") no-repeat 0 0;
}
