.for-tenderer {
  width: @mobile-width;
  margin: @centerer-margin 60px;
  text-align: center;
}

.for-tenderer__header {
  margin-top: -230px;
  padding: 52px 0;
  background-color: @white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @light-font-color;
}

.for-tenderer__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: @light-font-color;

  &--uppercase {
    text-transform: uppercase;
  }
}
