.main-header {
  width: @mobile-width;
  min-height: 721px;
  margin: @centerer-margin;
  text-align: center;
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat center bottom;
}

.main-header__wrapper {
  min-width: inherit;
  min-height: inherit;
  background: url("../../img/iphone-hand-mobile@1x.png") no-repeat center bottom;
}

.main-header__top {
  display: flex;
  width: @mobile-width;
  margin: @centerer-margin;
  justify-content: space-between;
}

.main-header__logo {
  width: @mobile-width;
  padding: 16px 25px;
  background-color: @bg-darkblue;
  border-bottom: 1px solid @border-lighter-color;
}

.main-header__toggle {
  display: none;
}

.main-header__navigation {
  width: @mobile-width;
  margin: @centerer-margin 33px;
}

.main-header__title {
  padding: 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @white;
}
