.main-nav__list {
  .reset-list();
}

.main-nav__item {
  width: @mobile-width;
  padding: 22px 0;

  background-color: @bg-darkblue;
  border-bottom: 1px solid @border-lighter-color;
}

.main-nav__link {
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
}
