.main-footer {
  width: @mobile-width;
  margin: @centerer-margin;
  padding: 40px 0 35px;
  text-align: center;
}

.main-footer__logo {
  margin-bottom: 35px;
}

.main-footer__social {
  margin-bottom: 35px;
}
