.offer {
  width: @mobile-width;
  min-height: 270px;
  margin: @centerer-margin 55px;
}

.offer__header {
  padding-top: 45px;
  text-align: center;
  color: @white;
  background-color: @bg-offer-color;
}

.offer__download {
  display: inline-block;
  width: 240px;
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  color: @white;
  border: 3px solid @white;
  border-radius: 28px;
}

.offer__list {
  .reset-list();
  display: flex;
  justify-content: center;
}

.offer__item {
  width: 70px;
  height: 60px;
  margin-right: 10px;
  background-color: #616c77;
}

.offer__explanation {
  margin: 0;
  padding: 25px 40px 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.offer__text {
  margin: 0;
  padding: 40px 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: @light-font-color;
  text-align: center;
}
