.panorama {
  position: relative;
}

.panorama__text {
  position: absolute;
  top: -118px;
  left: 160px;
  padding: 13px 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  background-color: @contacts-color;
}
