.photos {
  width: @mobile-width;
  margin: @centerer-margin 48px;
  text-align: center;
}

.photos__header {
  margin-top: -230px;
  padding: 52px 35px;
  background-color: @white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @light-font-color;
}

.photos__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: @light-font-color;
}
