.price-table {
  width: 834px;
  position: relative;
  left: 50%;
  margin: @centerer-margin 40px;
  transform: translateX(-50%);
  border-collapse: collapse;
}

.price-table__cell {
  width: 275px;
  height: 60px;
  padding: 22px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @light-font-color;
  text-transform: uppercase;
  background-color: @white;
  border: 2px solid @table-border-color;

  &--head {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: @white;
    background-color: @light-font-color;
  }
}

.price-table__licence-price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
