.price-list {
  width: @mobile-width;
  margin: @centerer-margin 48px;
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: @bg-light-grey;
}

.price-list__toggles {
  margin: 0;
  text-align: center;
}
