.put-photo {
  width: @mobile-width;
  margin: @centerer-margin;
  padding: 20px 0 41px;
  text-align: center;
  background-color: @bg-light-grey;
}

.put-photo__picture {
  .reset-fieldset();
}

.put-photo__correct {
  .reset-fieldset();
}

.put-photo__effects {
  .reset-list();
  display: flex;
  justify-content: space-between;
  width: 200px;
  min-height: 45px;
  margin: @centerer-margin;
}
