.tenderer-form {
  margin-top: -1px;
}

.tenderer-form__list,
.tenderer-form__register {
  .reset-list();
}

.tenderer-form__name {
  .reset-fieldset();
  margin-bottom: 25px;
  background-color: @white;
}

.tenderer-form__item {
  padding-left: 20px;
  text-align: left;
}

.tenderer-form__label {
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  color: @contacts-color;
}

.tenderer-form__input {
  width: 276px;
  height: 59px;
  padding-left: 22px;
  font-size: 18px;
  line-height: 30px;
  color: @light-font-color;
  border: 2px solid @tenderer-input-color;
  box-sizing: border-box;
}

.tenderer-form__achievements {
  .reset-fieldset();
  margin-bottom: 40px;
  padding: 40px 0 50px;
  background-color: @bg-light-grey;
}

.tenderer-form__title {
  margin-bottom: 50px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @contacts-color;
  text-transform: uppercase;
}

.tenderer-form__piece {
  position: relative;
  padding: 18px 0 18px 90px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @light-font-color;
  text-align: left;
}

.tenderer-form__achievement {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: @white;
    border: 2px solid @tenderer-input-color;
  }
}

.tenderer-form__contacts {
  .reset-fieldset();
  margin-bottom: 25px;
  background-color: @white;
}

.tenderer-form__app-type {
  .reset-fieldset();
  margin-bottom: 40px;
  padding: 40px 0 50px;
  background-color: @bg-light-grey;
}

.tenderer-form__application {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: @white;
    border: 2px solid @tenderer-input-color;
    border-radius: 50%;
  }
}


.tenderer-form__share-impress {
  .reset-fieldset();
}

.tenderer-form__impress {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @contacts-color;
  text-transform: uppercase;
}

.tenderer-form__tale {
  width: 280px;
  height: 200px;
  padding: 20px 0 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: @light-font-color;
  text-align: left;
  border: 2px solid @table-border-color;
  box-sizing: border-box;
}
