/* ------------------------------------------ */
/* PORTFOLIO BLOCK
/* ------------------------------------------ */
@import "../../scss/mixins";

.portfolio {
    @include wrapper;
    @include heading;

    .portfolio__items {
        display: flex;
        flex-direction: row;

        margin: 0;

        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }

    .portfolio__item {
        display: flex;
        flex-direction: column;

        width: 100%;
        padding: 0 0 5rem;
    }

    .portfolio__description {
        display: flex;
        flex-direction: column;

        margin-top: 1.5rem;

        align-items: flex-start;
        flex-grow: 1;
    }

    .portfolio__link {
        font-size: 0;
        line-height: 0;

        filter: grayscale(70%);

        &:hover {
            filter: none;
        }
    }

    .portfolio__tags {
        display: flex;
        flex-direction: row;

        margin-bottom: 0.5rem;

        flex-wrap: nowrap;
        align-content: flex-start;
        align-items: flex-start;
    }

    .portfolio__tag {
        &::after {
            content: " / ";
            white-space: pre;
        }

        &:last-child {
            &::after {
                content: "";
            }
        }
    }

    @media (min-width: $medium-up) {
        .portfolio__items {
            margin: 0 -1rem;
        }

        .portfolio__item {
            max-width: calc(100% / 3);
            padding: 0 1rem 5rem;
        }
    }

    @media (min-width: $large-up) {
        .portfolio__item {
            display: flex;
            flex-direction: row;

            max-width: calc(100% / 2);
            margin-bottom: 4rem;
            padding: 0 1rem 0 0;

            flex-wrap: nowrap;
            align-items: center;

            &:nth-child(4n),
            &:nth-child(4n-1) {
                flex-direction: row-reverse;

                &::after {
                    left: calc(45% + 0.5rem);
                }
            }
        }

        .portfolio__link {
            width: 55%;
        }

        .portfolio__description {
            width: 45%;
            margin: 0 1rem;

            text-align: center;

            align-items: center;
        }
    }
}
