// ------------------------------------------ //
// MIXINS
// ------------------------------------------ //
.wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding: 10rem 0;

    align-items: center;
    align-content: center;
    justify-content: center;

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem;

        @media @medium-up {
            width: @screen-m-min;
            max-width: calc(~"100% - 4rem");
            margin-right: 0;
        }

        @media @large-up {
            width: @screen-l-min;
            max-width: calc(~"100% - 10rem");
        }

        @media @extra-large-up {
            width: @screen-xl-min;
        }
    }
}

.heading {
    &__heading {
        span {
            color: @color-accent;

            font-size: @font-size--5;
        }

        h1 {
            white-space: nowrap;
            letter-spacing: 0.2rem;
            text-transform: uppercase;

            color: @color-primary-text-light;

            font-size: @font-size-00;
            font-weight: @regular-font-weight;
            line-height: 1;
        }

        @media @medium-up {
            position: absolute;
            top: 50%;
            left: 1rem;

            display: inline-flex;
            flex-direction: column;

            transform: rotate(-90deg) translateX(-50%);
            transform-origin: left top 0;
            text-align: center;

            h1 {
                margin-bottom: 0;

                font-size: @font-size-02;
            }
        }
    }
}