/* ------------------------------------------ */
/* BLOG BLOCK
/* ------------------------------------------ */
.blog {
    @include wrapper;
    @include heading;

    .blog__items {
        display: flex;
        flex-direction: row;

        margin: 0 -0.5rem;

        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }

    .blog__item {
        display: flex;
        flex-direction: column;

        width: 100%;
        padding: 0 0 5rem;
    }

    .blog__item-date {
        text-transform: uppercase;
    }

    .blog__description {
        display: flex;
        flex-direction: column;

        margin-top: 1.5rem;

        align-items: flex-start;
        flex-grow: 1;

        h1,
        p {
            font-family: $font-family-secondary;
        }

        p {
            font-weight: $light-font-weight;
        }
    }

    .blog__link {
        font-size: 0;
        line-height: 0;

        filter: grayscale(70%);

        &:hover {
            filter: none;
        }
    }

    @media (min-width: $medium-up) {
        .blog__items {
            margin: 0 -1rem;
        }

        .blog__item {
            max-width: calc(100% / 3);
            padding: 0 1rem 5rem;
        }

        .blog__link {
            img {
                height: 18rem;
            }
        }
    }
    @media (min-width: $large-up) {
        .blog__item {
            max-width: calc(100% / 4);
        }
    }
}