/* ------------------------------------------ */
/* CERTIFICATES BLOCK
/* ------------------------------------------ */
.certificates {
    @include wrapper;
    @include heading;

    .certificates__items {
        column-count: 1;
        column-gap: 2rem;
    }

    .certificates__item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        font-size: 0;
        line-height: 0;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: $medium-up) {
        .certificates__items {
            column-count: 2;
        }
    }

    @media (min-width: $large-up) {
        .certificates__items {
            column-count: 4;
        }
    }
}