/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
    position: relative;

    padding: 1rem 1rem 3rem;

    text-align: center;

    font-size: $font-size--3;

    cite {
        display: block;

        font-style: normal;
    }

    span {
        position: relative;

        display: block;
    }

    @media (min-width: $medium-up) {
        position: fixed;
        right: 0;
        bottom: 0;

        padding: 1rem;

        text-align: right;

        span {
            &::before {
                position: absolute;
                top: 50%;

                display: block;

                width: 2.5rem;
                height: 0.05rem;

                content: "";
                transform: translateY(-50%);

                background: $color-accent;
            }
        }
    }
}