@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("opensans"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"), local("opensansbold"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), local("opensanslight"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #616c77;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*  Main sheet */
.main-header {
  width: 320px;
  min-height: 721px;
  margin: 0 auto;
  text-align: center;
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat center bottom;
}
.main-header__wrapper {
  min-width: inherit;
  min-height: inherit;
  background: url("../../img/iphone-hand-mobile@1x.png") no-repeat center bottom;
}
.main-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-header__logo {
  width: 320px;
  padding: 16px 25px;
  background-color: #283645;
  border-bottom: 1px solid #485461;
}
.main-header__toggle {
  display: none;
}
.main-header__navigation {
  width: 320px;
  margin: 0 auto 33px;
}
.main-header__title {
  padding: 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  width: 320px;
  padding: 22px 0;
  background-color: #283645;
  border-bottom: 1px solid #485461;
}
.main-nav__link {
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.offer {
  width: 320px;
  min-height: 270px;
  margin: 0 auto 55px;
}
.offer__header {
  padding-top: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #1d2631;
}
.offer__download {
  display: inline-block;
  width: 240px;
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 28px;
}
.offer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer__item {
  width: 70px;
  height: 60px;
  margin-right: 10px;
  background-color: #616c77;
}
.offer__explanation {
  margin: 0;
  padding: 25px 40px 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.offer__text {
  margin: 0;
  padding: 40px 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}
.advantages {
  width: 320px;
  min-height: 810px;
  margin: 0 auto;
  background: #f2f2f2 url("../../img/iphone-screen-mobile@1x.png") no-repeat center bottom;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  text-align: center;
}
.advantages__title {
  margin: 0 0 18px;
  line-height: 24px;
  font-weight: 700;
}
.advantages__description {
  margin: 0 0 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.reviews {
  width: 320px;
  margin: -90px auto 0;
  padding-top: 45px;
  text-align: center;
  background-color: #ffffff;
}
.reviews__list {
  margin-bottom: 35px;
}
.reviews__item {
  margin: 0;
}
.reviews__item:nth-child(2),
.reviews__item:nth-child(3) {
  display: none;
}
.reviews__author {
  margin: 0 0 25px 0;
  line-height: 30px;
  font-weight: 700;
}
.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.reviews-slider__toggle {
  margin: 0 0 50px 0;
}
.price-list {
  width: 320px;
  margin: 0 auto 48px;
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #f2f2f2;
}
.price-list__toggles {
  margin: 0;
  text-align: center;
}
.price-table {
  width: 834px;
  position: relative;
  left: 50%;
  margin: 0 auto 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-collapse: collapse;
}
.price-table__cell {
  width: 275px;
  height: 60px;
  padding: 22px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.price-table__cell--head {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #283645;
}
.price-table__licence-price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.contacts {
  width: 320px;
  min-height: 565px;
  margin: 0 auto 40px;
  text-align: center;
}
.contacts__title {
  margin: 0 0 45px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.contacts__item {
  margin-bottom: 25px;
}
.contacts__call {
  margin: 0;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  color: #283645;
}
.contacts__facts {
  padding: 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #d22856;
}
.contacts__footer {
  position: relative;
  width: 320px;
  min-height: 200px;
  background: url("../../img/bg-map-mobile@1x.png") no-repeat center bottom;
}
.contacts__marker {
  position: absolute;
  top: 95px;
  left: 143px;
  width: 45px;
  height: 45px;
  background: url("../../img/icon-map-marker.svg") no-repeat 0 0;
}
.main-footer {
  width: 320px;
  margin: 0 auto;
  padding: 40px 0 35px;
  text-align: center;
}
.main-footer__logo {
  margin-bottom: 35px;
}
.main-footer__social {
  margin-bottom: 35px;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 185px;
  margin: 0 auto;
}
.social__item {
  width: 50px;
  height: 50px;
  font-size: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: greenyellow;
}
.copyright {
  text-align: left;
  position: relative;
}
.copyright__text {
  padding-left: 95px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645;
}
.copyright__link {
  position: absolute;
  top: 0;
  left: 200px;
  width: 75px;
  height: 75px;
  background: url("../../img/logo-htmlacademy.svg") no-repeat 0 0;
}
/* Photos sheet */
.photos {
  width: 320px;
  margin: 0 auto 48px;
  text-align: center;
}
.photos__header {
  margin-top: -230px;
  padding: 52px 35px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}
.photos__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.panorama {
  position: relative;
}
.panorama__text {
  position: absolute;
  top: -118px;
  left: 160px;
  padding: 13px 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
}
.photos-story__post {
  width: 280px;
  margin: -5px auto 20px;
  padding: 25px 18px;
  font-size: 14px;
  text-align: left;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.photos-story__author-name {
  font-weight: 700;
}
.photos-story__post-time {
  font-size: 12px;
  font-weight: 300;
}
.photos-story__like {
  font-size: 12px;
  color: #d22856;
}
.put-photo {
  width: 320px;
  margin: 0 auto;
  padding: 20px 0 41px;
  text-align: center;
  background-color: #f2f2f2;
}
.put-photo__picture {
  margin: 0;
  padding: 0;
  border: none;
}
.put-photo__correct {
  margin: 0;
  padding: 0;
  border: none;
}
.put-photo__effects {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  min-height: 45px;
  margin: 0 auto;
}
/* Form sheet */
.for-tenderer {
  width: 320px;
  margin: 0 auto 60px;
  text-align: center;
}
.for-tenderer__header {
  margin-top: -230px;
  padding: 52px 0;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}
.for-tenderer__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.for-tenderer__text--uppercase {
  text-transform: uppercase;
}
.tenderer-form {
  margin-top: -1px;
}
.tenderer-form__list,
.tenderer-form__register {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tenderer-form__name {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 25px;
  background-color: #ffffff;
}
.tenderer-form__item {
  padding-left: 20px;
  text-align: left;
}
.tenderer-form__label {
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}
.tenderer-form__input {
  width: 276px;
  height: 59px;
  padding-left: 22px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tenderer-form__achievements {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 40px;
  padding: 40px 0 50px;
  background-color: #f2f2f2;
}
.tenderer-form__title {
  margin-bottom: 50px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}
.tenderer-form__piece {
  position: relative;
  padding: 18px 0 18px 90px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: left;
}
.tenderer-form__achievement::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.tenderer-form__contacts {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 25px;
  background-color: #ffffff;
}
.tenderer-form__app-type {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 40px;
  padding: 40px 0 50px;
  background-color: #f2f2f2;
}
.tenderer-form__application::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}
.tenderer-form__share-impress {
  margin: 0;
  padding: 0;
  border: none;
}
.tenderer-form__impress {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}
.tenderer-form__tale {
  width: 280px;
  height: 200px;
  padding: 20px 0 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
  text-align: left;
  border: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal-report {
  display: none;
  width: 320px;
  margin: 0 auto;
  padding: 20px 20px 0;
  text-align: center;
}
.modal-report__title {
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: black;
}
.modal-report__text {
  margin: 0 0 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}
.modal-report__footer {
  padding: 50px 20px;
  background-color: #f2f2f2;
}
.modal-report__footer--false {
  padding-top: 7px;
  background-color: #ffffff;
}
.modal-report__close {
  width: 280px;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
}
