/* ------------------------------------------ */
/* CONTACT BLOCK
/* ------------------------------------------ */
@import "../../scss/mixins";

.contact {
    @include wrapper;
    @include heading;

    .contact__content {
        display: flex;
        flex-direction: column;
    }

    .contact__socials {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .contact__social {
        position: relative;

        display: flex;

        width: 7rem;
        height: 7rem;
        margin: 0 1rem 1rem 0;

        background: $color-secondary;

        font-size: 0;
        line-height: 0;

        align-items: center;
        align-content: space-around;
        justify-content: center;

        &:hover {
            background: transparentize($color-secondary, 0.2);
        }
    }

    .contact__social-item {
        display: flex;

        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: center;
    }

    svg {
        width: 2.5rem;
        height: 2.5rem;

        fill: $color-primary-text-light;
    }
}
