/* ------------------------------------------ */
/* CERTIFICATES BLOCK
/* ------------------------------------------ */
@import "../../scss/mixins";

.certificates {
    @include wrapper;
    @include heading;

    .certificates__items {
        column-count: 1;
        column-gap: 2rem;


        & > div {
            display: inline-block;

            width: 100%;
            margin-bottom: 2rem;

            vertical-align: top;

            font-size: 0;
            line-height: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .__react_modal_image__modal_container {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .__react_modal_image__medium_img {
        width: auto;
        height: 500px;
    }

    @media (min-width: $medium-up) {
        .certificates__items {
            column-count: 2;
        }
    }

    @media (min-width: $large-up) {
        .certificates__items {
            column-count: 4;
        }
    }
}
