/* ------------------------------------------ */
/* CERTIFICATES BLOCK
/* ------------------------------------------ */
@import "../../scss/mixins";

.certificates {
    @include wrapper;
    @include heading;

    .certificates__items {
        column-count: 4;
        column-gap: 2rem;


        & > div {
            display: inline-block;

            width: 100%;
            margin-bottom: 2rem;

            vertical-align: top;

            font-size: 0;
            line-height: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    .certificates__content {
        h2 {
            margin: 0 0 2rem;

            text-align: center;

            color: $color-secondary;

            font-size: $font-size-01;
            font-weight: $regular-font-weight;
            line-height: 1;
        }
    }

    .__react_modal_image__header {
        position: fixed;
        top: 0;
    }

    .__react_modal_image__modal_container {
        position: fixed;
        top: 0;

        width: 100vw;
        height: 100vh;
    }

    .__react_modal_image__medium_img {
        width: 100%;
        max-width: 90vw;
        height: auto;
        max-height: 90vh;
    }

    @media (min-width: $medium-up) {
        .certificates__items {
            column-count: 5;
        }

        .__react_modal_image__medium_img {
            width: auto;
            max-width: 90vw;
            height: auto;
            max-height: 90vh;
        }
    }

    @media (min-width: $large-up) {
        .certificates__items {
            column-count: 8;
        }

        .certificates__content {
            h2 {
                margin: 4rem 0 3rem;

                font-size: $font-size-03;
            }
        }
    }
}
