/* ------------------------------------------ */
/* CERTIFICATES BLOCK
/* ------------------------------------------ */
@import "../../scss/mixins";

.certificates {
    @include wrapper;
    @include heading;

    .certificates__items {
        column-count: 1;
    }

    .certificates__item {
        position: relative;

        padding-left: 1rem;

        &::before {
            position: absolute;
            top: 0.85rem;
            left: 0;

            display: block;

            width: 0.3rem;
            height: 0.3rem;

            content: '';

            border-radius: 50%;
            background-color: $color-secondary;
        }
    }

    .certificates__badges {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      padding: 6rem 0 0;
      text-align: center;
    }

    .certificates__badges a {
      width: calc(50% - 4rem);
      margin: 2rem;
    }

    .certificates__badges-item {
      max-width: 15rem;
    }

    @media (min-width: $medium-up) {
      .certificates__badges {
        flex-direction: row;
      }

      .certificates__badges a {
        width: auto;
      }

      .certificates__badges-item {
        max-width: 20rem;
        max-height: 10rem;
        height: auto;
      }
    }

    @media (min-width: $large-up) {
        .certificates__items {
            column-count: 2;
        }

        .certificates__badges-item {
          max-height: 16rem;
          height: auto;
          max-width: none;
        }
    }
}
