/* ------------------------------------------ */
/* BLOG BLOCK
/* ------------------------------------------ */
@import "../../scss/mixins";

.blog {
    @include wrapper;
    @include heading;

    .blog__items {
        column-count: 1;
        column-gap: 2rem;
    }

    .blog__item {
        display: inline-block;

        width: 100%;
        margin-bottom: 2rem;

        vertical-align: top;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .blog__item-date {
        text-transform: uppercase;
    }

    .blog__description {
        display: flex;
        flex-direction: column;

        margin-top: 1.5rem;

        align-items: flex-start;
        flex-grow: 1;

        h1,
        p {
            font-family: $font-family-secondary;
        }

        p {
            font-weight: $light-font-weight;
        }
    }

    .blog__link {
        font-size: 0;
        line-height: 0;

        filter: grayscale(70%);

        &:hover {
            filter: none;
        }
    }

    @media (min-width: $medium-up) {
        .blog__items {
            column-count: 2;
        }

        .blog__link {
            img {
                height: 18rem;
            }
        }
    }
    @media (min-width: $large-up) {
        .blog__items {
            column-count: 4;
        }
    }
}
