@import "scss/config";
@import "scss/global";
@import "scss/button";
@import "scss/title";
@import "components/intro/intro";
@import "components/certificates/certificates";
@import "components/resume/resume";
@import "components/skills/skills";
@import "components/contact/contact";
@import "components/footer/footer";

[data-aos][data-aos][data-aos-duration="2000"],
body[data-aos-duration="2000"] [data-aos] {
    transition-duration: 2s;
}

[data-aos=zoom-in] {
    transform: scale(0.6);
}

[data-aos^=zoom][data-aos^=zoom].aos-animate {
    transform: none;
}
