/* ------------------------------------------ */
/* BUTTON BLOCK
/* ------------------------------------------ */
.button {
    display: inline-block;

    min-width: 5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;

    transition: background-color $transition ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: $color-primary-text-light;
    background-color: $color-secondary;

    font-size: $font-size--1;
    font-weight: $bold-font-weight;

    &:hover {
        background: transparentize($color-secondary, 0.2);
    }

    &--big {
        min-width: 10rem;
        margin: 3rem auto 0;
        padding: 1rem 6rem;
    }

    .blog & {
        width: 100%;
    }
}
