/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-track {
    background-color: $color-primary;
}

::-webkit-scrollbar-thumb {
    background-color: $color-accent;
}

html {
    box-sizing: border-box;

    font-size: $html-font-size;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    color: $color-secondary;
    background: $color-primary;

    font-family: $font-family-primary;
    font-size: $base-font-size;
    font-weight: $regular-font-weight;
    line-height: 1.2;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

p {
    margin: 0.5rem 0;
}

a {
    text-decoration: none;

    color: $color-accent;
}
