/* ------------------------------------------ */
/* PORTFOLIO BLOCK
/* ------------------------------------------ */
.portfolio {
    .wrapper;
    .heading;

    .portfolio__items {
        display: flex;
        flex-direction: row;

        margin: 0 -0.5rem;

        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }

    .portfolio__item {
        display: flex;
        flex-direction: column;

        width: 100%;
        padding: 0.5rem;
    }

    .portfolio__description {
        display: flex;
        flex-direction: column;

        margin-top: 0.5rem;

        align-items: flex-start;
        flex-grow: 1;
    }

    .portfolio__link {
        font-size: 0;
        line-height: 0;
    }

    .portfolio__tags {
        display: flex;
        flex-direction: row;

        margin-bottom: 0.5rem;

        flex-wrap: nowrap;
        align-content: flex-start;
        align-items: flex-start;
    }

    .portfolio__tag {
        &::after {
            content: " / ";
            white-space: pre;
        }

        &:last-child {
            &::after {
                content: "";
            }
        }
    }

    @media @medium-up {
        .portfolio__item {
            max-width: calc(~"100% / 3");
        }
    }

    @media @large-up {
        .portfolio__item {
            max-width: calc(~"100% / 5");
        }
    }
}